@import "../../../common/variables";
@import "../../../common/mixin";

@media (max-width: 992px) {

  .mainText {
    min-width: 90%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .mainTextHello {
    margin-bottom: 15px;

  }
  .mainTextName {
    font-size: 36px;
    line-height: 1;
  }
  span {
    div {
      font-size: 24px;
    }
  }


}

.mainText {
  max-width: 60%;
  @include flex(flex, column, flex-start, start);

  .mainTextHello {
    color: $bgColorButtonAndHighlightText;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
  }

  .mainTextName {
    margin-top: -10px;
  }

  .mainTextTyping {
    width: 100%;
    height: 20px;
    font-weight: 600;
    font-size: 28px;
    line-height: 31px;
    color: $textColorMain;
    margin: 20px 0 15px;
  }
}



