.skillBlock{
    width: 30%;
    height: 300px;
    border: 2px solid #595858;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.skillBlock img{
    width: 150px;
    height: 100px;
}
.skillBlock span{
    font-weight: bold;
    font-size: 25px;
}
.skillBlockText{
    width: 90%;
    height: 40%;
    text-align: center;
}


