@import "../../common/variables";
@import "../../common/mixin";

.navigation{
    width: 400px;
    @include flex(flex, row, space-between, center);
    a{
        font-weight: 500;
        font-size: 22px;
        color: $textColorMain;
        cursor: pointer;
        display: block;
        transition: all 0.5s ease;

    }
    .active {
        color: $bgColorButtonAndHighlightText;
    }

    @media  (max-width: 400px) {
        display: none;
    }
}


