@import "src/common/mixin";
@media (min-width: 992px) {
    .container{
        width: 1200px;
    }
}

.container{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    @include flex(flex, column, center, center);
    flex-wrap: wrap;
}

