@mixin flex($display, $flexDirection,$justifyContent,$alignItems ){
  display: $display;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
@mixin contactsBlock($width, $height,$textDecoration,$borderRadius){
  width: $width;
  height: $height;
  text-decoration: $textDecoration;
  border-radius: $borderRadius;
}