@import "src/common/mixin";

.skills {
  min-height: calc(100vh - 70px);
  margin-top: 16px;
  padding-bottom: 10px;
  @include flex(flex, row, center, flex-start);
  flex-wrap: wrap;

  .skillsBlock {
    @include flex(flex, column, flex-start, center);

    .skill {
      width: 100%;
      height: 90%;
      margin-top: 15px;
      @include flex(flex, row, space-between, center);
      flex-wrap: wrap;
      gap: 3rem;

    }
  }
}

