@import "src/common/mixin";
@import "src/common/variables";

@media (max-width: 992px) {
    .skillBlock {
        min-height: 300px;
    }
}

.skillBlock {
    flex: 1 1 calc((100% / 3) - 2rem);
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 5px 0 10px $bgColorCV;
    @include flex(flex, column, flex-start, center);
    gap: 5px;
    flex-wrap: wrap;
    transition: 0.5s;
    padding-top: 10px;
    padding-bottom: 5px;

    .skillBlockImg {
        width: 80px;
        height: 80px;

        .skillImg {
            max-width: 100%;
            height: 100%;
            border-radius: 10%;
            object-fit: cover;
        }
    }

    .skillBlockText {
        width: 90%;
        height: 25%;
        text-align: center;
    }
}

.skillBlock:hover {
    transform: scale(1.1, 1.1)
}





